/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f8f9fc;
    overflow: hidden;
    background:url(../images/avatar.jpeg) no-repeat center center/cover;
}

/* Header Section */
.login-header-section {
    width: 100%;
    background: linear-gradient(135deg, #5e35b1, #7e57c2);
     background: url("../images/login_background.jpg") 
                no-repeat center center/cover;
    color: white;
    text-align: center;
    padding: 100px 0 100px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    position: relative;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    padding: 56px;
}

.welcome-text {
    font-size: 20px;
    margin-top: 10px;
}

/* Login Wrapper */
.login-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Box */
.login-box {
    position: absolute;
    top: -133px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    width: 380px;
    text-align: left;
}

.login-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.login-subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 25px;
}

/* Form Styling */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: border-color 0.3s;
}

.form-group input:focus {
    border-color: #6a1b9a;
    outline: none;
}


/* Button */
.login-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #6a1b9a, #8e24aa);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(106, 27, 154, 0.3);
}

/* Avatar */
.login-avatar {
    position: absolute;
    bottom: -50px;
    right: 100px;
    width: 160px;
}

/* Responsive */
@media (max-width: 768px) {
    .login-box {
        width: 90%;
        top: -60px;
        padding: 30px;
    }

    .login-avatar {
        display: none;
    }
}
